.background {
    width: auto

}
.left {
    display: none;
}

.box {
    color: white;
    margin: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 100px;
    background-color: black;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:768px) {
    .background {
        display: flex;
        flex-direction: row;
    }
    .menu-bar {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 600px;
        background-color: black;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    .box {
        color: white;
    }
    .button {
        color:white;
    }
    .button:active + width: auto;
    height: 600px;
    background-color: black;
    justify-content: flex-start;{

    }
}