.outer {
    height: 500px;
    width: 500px;
    background-color: lightblue;
}
.inner {
    height: 100px;
    width: 100px;
    background-color: pink;
}
.outer1 {
    position:relative;
}
.inner1 {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%,-50%);
}
.outer2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

