.background {
    width: auto

}
.container {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: 100px;
    background-color: black;
    justify-content: center;
    align-items: center;
}
.box {
    color: white;
    margin: 50px;
}
@media screen and (max-width:768px) {
    .background {
        display: flex;
        flex-direction: row;
    }
    .menu-bar {
        display: flex;
        flex-direction: column;
    }
    .container {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 500px;
        background-color: black;
        justify-content: flex-start;
    }
    .box {
        color: white;
        background-color: black;
    }
    .button {
        color:white;
    }
}